-@ val title: String
-@ val body: String

!!!
html
  head
    title= title
    link(type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    link(type="text/css" rel="stylesheet" href="/css/footer.css")
    link(type="text/css" rel="stylesheet" href="/css/editor.css")
    link(type="text/css" rel="stylesheet" href="/css/JOBAD.min.css")
    script(src="/scripts/JOBAD.min.js")
    script(src="/scripts/mep-query.js")
    script(src="/scripts/mathjax.mathjax.js")
    script(src="/scripts/JOBAD.instance.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    #header
      .navbar.navbar-inverse.navbar-static-top
        .container-fluid
          .navbar-header
            button(
              type="button" 
              class="navbar-toggle collapsed" 
              data-toggle="collapse" 
              data-target="#navbar" 
              aria-expanded="false") 
              span(class="sr-only") Toggle navigation
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a(class="navbar-brand" href="#") MEP
          #navbar.collapse.navbar-collapse
            ul(class="nav navbar-nav")
              li(class="active")
                a(href="/") Home
    #content.col-xs-18.col-md-12
      != body
    footer.footer.navbar-inverse.col-xs-18.col-md-12
      .container
        center
          a.footlink(href="http://kwarc.info/")
            img(src="/img/kwarc_logo.png" alt="KWARC research group" style="padding-top:3px;")
